# Testing
pytest
pylint

# Data analysis & visualization
matplotlib
seaborn
jupyterlab
notebook
numpy
pandas
scikit-learn
unidecode

# API
# @see requirements-api.txt
fastapi
uvicorn

# App
# @see requirements-app.txt
streamlit
python-dotenv